<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments with ID</title>
</head>
<body>
    <h1>Comment ID : <%=id %> </h1>
    <h2>Comment Author : <%= username %></h2>
    <h2>Comment  : <%= comment %></h2>
    <a href="/comments">Go back to comments</a>
</body>
</html>